/* Resetando margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais do body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    margin-left: 250px; /* Espaço para o menu lateral */
}

/* Menu Lateral */
#menu-lateral {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #333;
    color: white;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease;
}

/* Menu quando recolhido */
#menu-lateral.recolhido {
    width: 50px;
}

/* Botão de Menu dentro do menu lateral */
#btn-menu {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
    z-index: 999;
    transition: background-color 0.3s ease;
    margin: 10px auto; /* Adiciona um espaçamento acima e abaixo */
    display: block; /* Para centralizar o botão dentro do menu lateral */
}



/* Estilos do título do menu */
#menu-lateral h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #fff;
    transition: opacity 0.3s ease;
}

/* Escondendo o texto dos itens quando o menu estiver recolhido */
#menu-lateral.recolhido ul li a .menu-text {
    display: none; /* Esconde o texto */
}

/* Exibindo apenas os ícones quando o menu estiver recolhido */
#menu-lateral.recolhido ul li a i {
    display: inline-block; /* Apenas o ícone visível */
    font-size: 24px;
    margin: 0 auto;
}

/* Estilizando os itens do menu */
#menu-lateral ul {
    list-style-type: none;
    padding: 0;
}

#menu-lateral ul li {
    padding: 15px;
    text-align: center;
    transition: padding 0.3s ease;
}

#menu-lateral ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

/* Ajuste para o texto ao lado dos ícones */
#menu-lateral ul li a .menu-text {
    display: inline-block; /* Exibe o texto quando o menu não estiver recolhido */
    margin-left: 10px; /* Espaçamento entre ícone e texto */
}

/* Estilos para o contador de mensagens */
.contador {
    background-color: #f44336;
    color: white;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 12px;
    font-size: 0.9rem;
    margin-left: 8px;
}


/* Ajustes responsivos */
@media (max-width: 768px) {
    body {
        margin-left: 0;
    }

    #menu-lateral {
        width: 200px;
    }

    #btn-menu {
        top: 10px;
        left: 10px;
    }

    #conteudo-principal {
        margin-left: 0;
    }
}
