body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

#vagasPostadasContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.vaga {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.vaga h3 {
    margin: 0;
    font-size: 20px;
}

.vaga p {
    margin: 8px 0;
}

.vaga button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.vaga button:hover {
    background-color: #ff3333;
}

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 8px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input, form textarea, form button {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

.voltar-btn {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin: 20px 0;
}

.voltar-btn:hover {
    background-color: #ddd;
}

/* Estilo para a mensagem de alerta de expiração */
.alerta-expiracao {
    background-color: #ffeb3b; /* Cor de fundo amarela */
    color: #856404; /* Texto marrom escuro */
    border: 1px solid #ffe082; /* Borda amarela mais suave */
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alerta-expiracao a {
    color: #007bff; /* Cor azul para o link */
    text-decoration: none;
    font-weight: bold;
}

.alerta-expiracao a:hover {
    text-decoration: underline; /* Sublinha o link ao passar o mouse */
}

.alerta-expiracao p {
    margin: 0;
}
